@{
    ViewData["Title"] = "Trang chủ";
}

<section id="features">
	<div class="container">

		<h2>Chứng nhận an toàn thực phẩm</h2>
		<div class="col-md-6">
            <img class="card-img-top" src="~/images/home/attp.jpg" alt="..."/>
		</div>
		<div class="col-md-6">
			<h3>Bánh kem tươi mới</h3>
			<p>Chúng tôi chỉ sử dụng những nguyên liệu tươi mới nhất để tạo ra bánh kem ngon nhất.</p>
		</div>
		<div class="col-md-6">
			<img class="card-img-top" src="~/images/home/banhkem1.jpg" alt="..." />
		</div>
		<div class="col-md-6">
			<h3>Hương vị độc đáo</h3>
			<p>Chúng tôi sử dụng các công thức độc đáo để tạo ra hương vị đặc trưng cho từng loại bánh kem.</p>
		</div>
		<div class="col-md-6">
			<img class ="card-img-top" src="~/images/home/banhkem2.jpg" alt="..." />
		</div>
		<div class="col-md-6">
			<h3>Giao hàng nhanh chóng</h3>
			<p>Chúng tôi cam kết giao hàng nhanh chóng và đúng hẹn để đảm bảo sự hài lòng của khách hàng.</p>
		</div>
	</div>
</section>
