@{
    ViewData["Title"] = "Liên hệ";
}
<h1>@ViewData["Title"]</h1>

<body>
    <form id="form1" runat="server" style="width:400px; height:500px; ">
        <div style=" background-color: #f3f3f3;border: 2px solid black;border-radius: 5px;padding:10px;">
   
            <label for="PhoneNumberTextBox" style="font-weight:bold">Số điện thoại:</label>
            <input name="TextBox1" id="TextBox1" type="text">  <br /><br />

            <label for="FullNameTextBox" style="font-weight:bold">Họ Tên:</label>
            <input name="TextBox1" id="TextBox1" type="text">  <br /><br />

            <label for="MessageTextBox" style="font-weight:bold">Tin nhắn:</label>
            <input name="TextBox1" id="TextBox1" type="text">  <br /><br />
            
        </div>
    </form>
</body>

