<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Komatsu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Komatsu</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Mathangs" asp-action="Index">Sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Khuyến mãi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Đơn đặt hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="QLMathangs" asp-action="Index">Quản lí sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Liên hệ</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="py-5 bg-info">
      <div class="text-center mb-5"><a class="text-warning" href="#top"><i class="bi bi-chevron-up" style="font-size: 3rem; font-weight: bold; color:white;"></i></a></div>
      <div class="container">
            <div class="row">
              <div class="col-md-8">
                <ul class="list-inline">
                  <li>
                      <p style="color:white; font-weight:bold">Địa chỉ: Ung Văn Khiêm, Đông Xuyên, Thành phố Long Xuyên, tỉnh An Giang</p>
                        
                  </li>
                  <li>
                      <p style="color:white; font-weight:bold">Email: komatsu@gmail.com</p>
                  </li>
                  <li>
                      <p style="color:white; font-weight:bold">Số điện thoại: 0856412369</p>  
                  </li>
                  <li>
                      <p style="color:white; font-weight:bold">Fanpage: https://www.facebook.com/komatsu231216</p>  
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-inline">
                  <li class="nav navbar-nav">
                      <a class="nav-link" data-toggle="dropdown" style="color:white; font-weight:bold">Danh mục</a>
                      <a class="dropdown-item" href="/Mathangs/Index" style="color:white">Bánh quy</a>
                      <a class="dropdown-item"href="/Mathangs/Index" style="color:white">Bánh Tiramisu</a>
                      <a class="dropdown-item" href="/Mathangs/Index" style="color:white">Bánh Mousses</a>
                      <a class="dropdown-item" href="/Mathangs/Index" style="color:white">Bánh sinh nhật</a>
                  </li>
               
                </ul>
              </div>
  
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="copyright">Copyright &copy; 2023 Cửa hàng bánh kem Komatsu</p>
              </div>
            </div>
      </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
